<div class="row">
  <div class="col-md-12">
    <% flash.each do | key, message | %>
      <%# if key is not "notice", it is alert - danger will be returned %>
      <div class= "text-center alert alert-<%= key == 'notice' ? 'success' : 'danger'%>">
        <%= message %>
      </div>
    <% end %>
  </div>
  <%= yield %>
</div>
</div>
